/* Body */
.body{
    font-family:'Montserrat',sans-serif;
}
#title{
    background-color: #ff4c68;
    color: #fff;
    z-index: 0;
    position:relative
}
.h1{
    font-size:3rem; 
    line-height: 1.5;


}
.h2{
    font-family:'Montserrat-Bold',sans-serif;
    font-size:3rem;
    line-height: 1.5rem;

}
.h3{
    font-family:'Montserrat-Black';
    font-weight:900;


}
.p{
color:#8f8f8f;
}
.container-fluid{
    padding: 3% 15% 7% ;

}
.headline-meet{
    font-weight: 900;
    font-size:3.5rem; 
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
}
.feature-headlines{
    font-family:'Montserrat-Bold',sans-serif;
    font-weight:900;
}


/* Navigation Bar */
.navbar{
    padding: 0 0 4.5rem 0;

}
.navbar-brand{

    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight:bold;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size:1.2rem;
    font-family: 'Montserrat-light'
}

/* Download-Buttons */

.download-button{

    margin: 5% 3% 5% 0%;
}

/* Title image */
.title-image{
    width:20%;
    transform: rotate(25deg);
    position:absolute;
    z-index: 0;
    right:25%;
    
}

/* Features-Icons */


#features{
    padding:7% 15%;
    content: centered;
    background-color: #fff;
    position: relative;
    z-index: 1;
}
.feature-box{
    text-align:center;
    padding:5%;
    
}


.fa-circle-check{
    color:#ff8172;
    position: relative;
    padding-bottom:5%;
   
    
}
.fa-circle-check:hover {
 color:#ff4c68;

}

.fa-bullseye{
    color:#ff8172;
    position:relative;
    padding-bottom:5%;
   
    

}
.fa-bullseye:hover{
    color:#ff4c68;
   
}

.fa-heart{
   color: #ff8172;
   position:relative;
   padding-bottom:5%;
   

   
}
.fa-heart:hover{
    color:#ff4c68;
}

.easy-use{
    text-align: center;
    padding-top: 20px;
    
    
}

/* Testimonials Section  */

#testimonials{
   
    text-align:center;
    background-color:#ff8172;
    color:white;
}
.carousel-item{
    padding: 7% 15%;
}
.testimonial-image{

    width: 10%;
    border-radius: 100%;
    margin:20px;
}


#press{

    background-color:#ff8172;
    text-align: center;
    padding-bottom:3%;

}
.press-logo{

    width:15%;
    margin:20px 20px 50px;
}


/* Pricing Section */

#pricing{
    text-align: center;
    font-family: 'Montserrat-light';
    padding:10%;
}
.pricing-header{

font-weight:900;
color:grey;
}
.plan{

    font-size:3rem;
    color:black;
}

@media (max-width: 1028px){

    .title-image{
        position:static;
        transform: rotate(0);
    }
}

/* Footer Section */

#cta{

    
    text-align: center;
    background-color: #ff4c68;

}
.true-love{

    font-size: 5rem;
    color:#fff;
   padding: 70px 100px 50px 100px;
    margin: 50px;
    text-align:center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;

}
.download-button-bottom{
margin: 2% 3% 13% 0%;



}

.socials{

    margin: 1.5%;
    padding-bottom:2%;
    
}

#footer{

    margin: 7x 10px 2px 10px;
    padding: 40px;
    text-align:center;
    color: grey;
}

.copyright{

font-size: .65rem;
}